a{
  color: #2b85bd;
  text-decoration: none;
}
a:hover{
  color: #fdd250;
}

.table-item {
  padding: 20px;
  display: flex;
  align-items: center;
  border-bottom: 5px solid white;
  font-size: 14px;
}
.table-item:hover{
  background: #fffadd;
}

.table-message{
  padding: 20px;
  text-align: center;
}
#table-case-checkbox{
  margin-right: 10px;
}

.table-list {
  max-width: 1280px;
  box-sizing: border-box;
  margin: 20px auto;
  background: #fffaea;
}

.table-head{
  font-size: 14px;
  font-weight: 600;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 5px solid white;
  background: #ffeebb;
}

.table-case_name{
  min-width: 120px;
  width: 240px;
}
.table-case-child{
  width: 30px;
  padding-right: 10px;
}
.table-case_number{
  width: 200px;
  padding-right: 20px;
}
.table-case_update_time{
  width: 300px;
  padding-right: 20px;
}
.table-case_result{
  width: 240px;
  padding-right: 20px;
}
.table-last_refresh{
  width: 180px;
  padding-right: 20px;
}
.table-head-extra{
  display: flex;
  align-items: center;
  width: 80px;
}
.table-head-extra img{
  max-width: 30px;
  padding-left: 10px;
}
.table-list-mobile{
  display: none;
}

@media (max-width: 768px) {

  .todo-create-input {
    appearance: none;
    border: 1px solid rgba(120, 130, 152, 0.25);
    /* Disable Auto Zoom in Input “Text” tag - Safari on iPhone */
    /* font-size: 16px; */
    margin-bottom: 15px;
    min-width: 85%;
  }
  .todo-item button {
    padding: 4px 12px;
    /* font-size: 14px; */
    margin-bottom: 0px;
    min-width: 63px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .todo-list-title:hover span[contenteditable="false"]:before {
    content: ''
  }
  .todo-list-title:hover span[contenteditable="true"]:before {
    content: 'click to edit';
    position: absolute;
    top: -20px;
    left: 9px;
    font-size: 11px;
    font-weight: 300;
    color: #adadad;
    letter-spacing: 1px;
  }
  .table-list{
    display: none;
  }

  .table-list-mobile{
    display: block;
    background: #fffaea;
  }
  .table-item{
    position: relative;
    flex-direction: column;
    align-items: flex-start;
  }
  .table-item label{
    display: flex;
    align-items: center;
    width: 100%;
    text-align: left;
  }

  .table-case_name::before {
    content: "Наименование"; 
    display: flex;
    font-weight: 600;
    width: 120px;
    min-width: 120px;
    background: #ffeebb;
    padding: 20px;
    margin-right: 20px;
  }
  .table-case_number::before {
    content: "Номер дела"; 
    display: flex;
    font-weight: 600;
    width: 120px;
    min-width: 120px;
    background: #ffeebb;
    padding: 20px;
    margin-right: 20px;
  }
  .table-case_update_time::before {
    content: "Дата публикации на сайте суда"; 
    display: flex;
    font-weight: 600;
    width: 120px;
    min-width: 120px;
    background: #ffeebb;
    padding: 20px;
    margin-right: 20px;
  }
  .table-case_result::before {
    content: "Опубликованный результат"; 
    display: flex;
    font-weight: 600;
    width: 120px;
    min-width: 120px;
    background: #ffeebb;
    padding: 20px;
    margin-right: 20px;
  }
  .table-last_refresh::before {
    content: "Последнее обновление"; 
    display: flex;
    font-weight: 600;
    width: 120px;
    min-width: 120px;
    background: #ffeebb;
    padding: 20px;
    margin-right: 20px;
  }

}

/** todo css via https://codepen.io/shshaw/pen/WXMdwE 😻 */

